
<div id="content">

    <div id="image">
        <img [src]="thumbnailUrl" alt="" width="110px" height="110px">
    </div>

    <div id="text">

        <h6 style="font-size: 12px; padding-bottom: 4px; margin-bottom: 0px; color: rgb(155, 155, 155); border-bottom: 1px solid  rgb(163, 163, 163); width: fit-content;">{{event?.category}}</h6>

        <h4 style="font-size: 18px; height: 24px; overflow: hidden;">{{event?.name}}</h4>
        <p style="margin: 0px 0; font-size: 12px; display: flex; justify-content: start; align-items: center; gap: 2px;">
            <img src="assets/icons/time.png" alt="" width="16px" height="16px"> 
            <span>{{event?.dateStart | customDate}}</span>
        </p>
        <!-- <p style="margin: 0px 0px; height: 10px;">{{event?.timeStart?.toString()?.substring(0,5)}} -
            {{event?.timeFinish?.toString()?.substring(0,5)}}</p> -->
        <h6 style="display: flex; justify-content: space-between; margin-top: 13px; margin-bottom: 0; font-size: 15px;">
            <span style="background-color: rgb(200, 255, 222); padding: 2px 8px; border-radius: 5px; ">{{event?.price==0 ? 'Free' : '$'+event?.price}}</span>
            <span style="background-color: rgb(255, 200, 200); padding: 2px 8px; border-radius: 7px; ">{{reformatDistance(distance!!)}}</span>
        </h6>
    </div>

</div>