<!-- <mat-card>
    <mat-card-header>
      <img mat-card-image src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F751099259%2F215986123110%2F1%2Foriginal.20240424-082319?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=306a1c27ff2dc08686b92124780d8362">
      <mat-card-title>{{event?.name}}</mat-card-title>
      <mat-card-subtitle>Available tickets: {{event?.availableTickets}}</mat-card-subtitle>
      <mat-card-subtitle>Username: {{event?.creator?.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-flat-button (click)="onDeleteEvent(event?.id!!)" color="warn">Delete</button>
        <button mat-flat-button [routerLink]="['/events', event?.id, 'update']" color="primary">Edit</button>
    </mat-card-actions>

    <form name="loginForm" class="example-form" (ngSubmit)="onPublishTickets( numTickets.value, price.value)">
        <mat-form-field class="example-full-width">
          <mat-label>Number of tickets</mat-label>
          <input matInput #numTickets placeholder="10" name="numTickets" type="number">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput #price placeholder="5" name="numTickets" type="number">
          </mat-form-field>
    
        <button type="submit" mat-raised-button color="primary">
            Publish Tickets
        </button>
    
      </form>

  </mat-card> -->

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{event?.name}}</mat-card-title>
      <mat-card-subtitle>{{event?.category}}</mat-card-subtitle>

    </mat-card-header>
    <img mat-card-image src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F751099259%2F215986123110%2F1%2Foriginal.20240424-082319?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=306a1c27ff2dc08686b92124780d8362">
      <mat-card-content>
        <p>{{event?.description}}</p>
        <mat-card-subtitle>Available tickets: {{event?.availableTickets}}</mat-card-subtitle>
        <mat-card-subtitle>{{event?.dateStart | customDate}} - {{event?.dateFinish | customDate}}</mat-card-subtitle>
        @for (tag of event?.tags; track tag) {
          <mat-chip>{{tag.name}}</mat-chip>
        }
      </mat-card-content>
</mat-card>