<div>


    <div id="cards">
        <mat-card>
            <mat-card-header style="width: 500px;">
            <mat-card-title style="display: flex; align-items: center;">
                Tickets purchased
                <span style="margin-right: 40px;"></span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_activity"></mat-icon>
            </mat-card-title>
            <mat-card-subtitle>150</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
            25 today!
            </mat-card-content>

        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title style="display: flex; align-items: center;">
                    Revenue
                    <span style="margin-right: 130px;"></span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="paid"></mat-icon>
                </mat-card-title>
            <mat-card-subtitle>$1221</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                $520+ this week
            </mat-card-content>

        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title style="display: flex; align-items: center;">
                    Customers
                    <span style="margin-right: 110px;"></span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
                </mat-card-title>
            <mat-card-subtitle>42</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                520 newly registered
            </mat-card-content>

        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title style="display: flex; align-items: center;">
                    Coupons activated
                    <span style="margin-right: 40px;"></span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="redeem"></mat-icon>
                </mat-card-title>
            <mat-card-subtitle>50</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                10 this week
            </mat-card-content>
        </mat-card>
    </div>

    <div id="chart-row1" style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div echarts [options]="chartOption" class="demo-chart"></div>
        <div echarts [options]="option" class="demo-chart" ></div>
        <div echarts [options]="option2" class="big-chart" ></div>
        <div echarts [options]="option3" class="big-chart" ></div>
    </div>
</div>





