<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <img src="{{ getSlide() }}" alt="slide" />
      
      <!-- Previous button -->
      <button class="carousel-control-prev" (click)="getPrev()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_left"></mat-icon>
      </button>

      <!-- fontIcon="arrow_back_ios" -->
      
      <!-- Next button -->
      <button class="carousel-control-next" (click)="getNext()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_right"></mat-icon>
      </button>
    </div>
  </div>