<div class="main-section">
    <div class="companies">
        <p id="pp">Trusted by over 10000 companies and millions of people around the world</p>
        <div class="photos">
            <img id="sorsix" src="assets/companies-logos/sorsix-logo.png">
            <img id="apple" src="assets/companies-logos/apple-logo.svg">
            <img src="assets/companies-logos/coca-cola-logo.svg">
            <img id="google" src="assets/companies-logos/google-icon.svg">
            <img src="assets/companies-logos/redbull-logo.svg">

            <img src="assets/companies-logos/forbes-logo.svg">
        </div>
        <div class="testamonials">
            <h1>Perfect for every type of event</h1>
            <div class="review">
                <!-- <div class="left">
                    <h5>The complete event manager for Tech related events</h5>
                    Eventflow equips event managers with the tools to do their job effectively and
                    efficiently,
                    it’s like adding more people to your team.
                    <div id="person-review">
                        <div class="left">
                            <img class="people" src="assets/people/edu.jpg">
                        </div>
                        <div class="right">
                            <div class="stars">
                                <mat-icon *ngFor="let item of [].constructor(5); let i = index" style="color:yellow">star</mat-icon>
                                <img id="apple" src="assets/companies-logos/apple-logo.svg" style="width: 10%;">
                            </div>
                            <div>
                                "With EventFlow it has never been easier to organize an event, <b>publishing tickets is done seamlessly</b>"
                            </div>
                        </div>
                    </div>
                                    <div class="right">
                    <div id="right">
                        <p><img src="assets/review-icons/ticket.svg" alt="" class="image"> Publishing tickets has
                            never been easier <br></p>
                        <p><mat-icon class="example-tab-icon">local_activity</mat-icon> Publishing tickets has
                            never been easier <br></p>
                        <p><mat-icon class="example-tab-icon">local_activity</mat-icon> Publishing tickets has
                            never been easier <br></p>
                        <p><mat-icon class="example-tab-icon">local_activity</mat-icon> Publishing tickets has
                            never been easier <br></p>
                    </div>

                </div>
                </div> -->
                <div class="left">
                    <img class="people" src="assets/people/social.jpg">
                </div>
                <div id="person-review">
                    <div class="right">
                        <div class="stars">
                            <mat-icon *ngFor="let item of [].constructor(5); let i = index"
                                style="color:yellow">star</mat-icon>
                            <img id="apple" src="assets/companies-logos/apple-logo.svg" style="width: 10%;">
                        </div>
                        <h5>The complete event manager</h5>
                        <p>Eventflow equips event managers with the tools to do their job effectively and
                            efficiently,it’s like adding more people to your team.</p>
                        <div>
                            <i>"With EventFlow it has never been easier to organize an event, <b>publishing tickets is
                                    done seamlessly</b> "</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>