.create-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }

  #desc{
    height: 100px;
  }



form{
  margin: auto;
  
}

.coordinates{
  margin: auto;
  width: 48%;
  margin: 0 5px;
}


mat-stepper{
  padding: 5px;
  /* padding-top: 10px; */
  
  width: 60%;
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
}

.stepper-container {
  background-image: url('/assets/skmap.png');
  background-position: top; 
  min-height: 91vh;
  padding: 10px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  background-size: 100vw 140vh;
}

app-upload-images{
  margin-bottom: 25px;
}


