
<!-- <p>Create Event</p> -->
<!-- <form name="loginForm" class="example-form"  (ngSubmit)="createEvent(eventName.value, description.value, longitude.value, latitude.value, category.value, datestart.value, datefinish.value)">
    
    <mat-form-field class="example-full-width">
        <mat-label>Event name</mat-label>
        <input matInput #eventName name="eventname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea id="desc" matInput #description name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Longitude</mat-label>
      <input matInput #longitude name="longitude">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Latitude</mat-label>
        <input matInput #latitude name="latitude">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>category</mat-label>
        <input matInput #category name="latitude">
    </mat-form-field> 

    <app-add-tags (tagsEvent)="addTag($event)"></app-add-tags>

    <mat-form-field class="example-full-width">
        <mat-label>Date start:</mat-label>
        <input matInput #datestart name="dateStart" type="datetime-local">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Date finish:</mat-label>
        <input matInput #datefinish name="dateFinish" type="datetime-local">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
        CREATE
    </button>

</form> -->

<div class="stepper-container">
  <mat-stepper linear #stepper>

    <!-- Initial -->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup" class="create-form">
        <ng-template matStepLabel>Initial</ng-template>

        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Event name" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea style="height: 120px;" matInput formControlName="description" placeholder="Desc..." required></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            @for (category of categories; track category) {
              <mat-option [value]="category.value">{{category.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <app-add-tags (tagsEvent)="addTag($event)"></app-add-tags>

        <div>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>

      </form>
    </mat-step>

    <!-- Location -->
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Location</ng-template>
       
        <mat-form-field class="full-width">
          <mat-label>Date start:</mat-label>
          <input matInput formControlName="dateStart" type="datetime-local">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Date finish:</mat-label>
          <input matInput formControlName="dateFinish" type="datetime-local">
        </mat-form-field>

        <div class="full-width">
          <mat-radio-group formControlName="type" color="primary">
            <mat-radio-button #input2 name="on-site" value="on-site" (change)="onChangeType(input2.value)">On-site</mat-radio-button>
            <mat-radio-button #input1 value="virtual" (change)="onChangeType(input1.value)" [checked]="isEditable">Virtual</mat-radio-button>
          </mat-radio-group>
        </div>

        @if(favoriteSeason == 'virtual'){
          <mat-form-field class="full-width">
            <mat-label>Link to Google meet</mat-label>
            <input matInput formControlName="meetingUrl" placeholder="https://google.meet.com">
          </mat-form-field>
        }
        @else{
        <mat-form-field class="coordinates">
          <mat-label>Longitude</mat-label>
          <input matInput [value]="longitude" formControlName="longitude" placeholder="50.0547">
        </mat-form-field>

        <mat-form-field class="coordinates">
          <mat-label>Lattitude</mat-label>
          <input matInput [value]="lattitude" formControlName="lattitude" placeholder="39.1127">
        </mat-form-field>

        <app-map (longitudeEvent)="addCoordinates($event)"></app-map>
      }

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      
      </form>
    </mat-step>

    <!-- images -->
    <mat-step>
      <ng-template matStepLabel>Images</ng-template>

      <app-upload-images></app-upload-images>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <!-- Tickets -->
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable" optional>
        <form [formGroup]="thirdFormGroup" class="create-form">
          <ng-template matStepLabel>Tickets</ng-template>
          <mat-form-field class="full-width">
            <mat-label>Price per ticket:</mat-label>
            <input matInput formControlName="price" placeholder="10" type="number">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Number of tickets:</mat-label>
            <input matInput formControlName="numberOfTickets" placeholder="100" type="number">
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
    </mat-step>

    <!-- Done -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="createEvent()">Create Event</button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
  

  <!-- 1. Name, desc, categ, tags, private/public
		    2. Location(map) / virtual (google meet link)
		    3. tickets(price, maxPeople..) -->
