<!-- availableTickets: number;
    longitude: string;
    latitude: string;
    category: string; // moze da e problem deka e ENUM
    tags: Tag[];
    dateStart: Date;
    dateFinish: Date; -->


<p>Create Event</p>
<form name="loginForm" class="example-form"  (ngSubmit)="createEvent(eventName.value, description.value, longitude.value, latitude.value, category.value, datestart.value, datefinish.value)">
    
    <mat-form-field class="example-full-width">
        <mat-label>Event name</mat-label>
        <input matInput #eventName name="eventname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea id="desc" matInput #description name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Longitude</mat-label>
      <input matInput #longitude name="longitude">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Latitude</mat-label>
        <input matInput #latitude name="latitude">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>category</mat-label>
        <input matInput #category name="latitude">
    </mat-form-field> 

     <!-- <mat-form-field class="example-full-width">
        <mat-label>Tags: (da se napravi pravilno) </mat-label>
        <input matInput #tag name="tags">
        <button (click)="onAddTag(tag.value)">Add tag</button>
    </mat-form-field>-->

    <app-add-tags (tagsEvent)="addTag($event)"></app-add-tags>

    <mat-form-field class="example-full-width">
        <mat-label>Date start:</mat-label>
        <input matInput #datestart name="dateStart" type="datetime-local">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Date finish:</mat-label>
        <input matInput #datefinish name="dateFinish" type="datetime-local">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
        CREATE
    </button>

    <!-- Already have an account?<a href="http://localhost:4200/login"> Login now!</a> -->

</form>
