
#map{
    height: 90vh;
    width: 72%; 
}

#near-me{
    display: flex;
    flex-direction: row;
}

#event-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 28%;
    height: 90vh;
    overflow: scroll;
}

#event-content{
  width: 90%;
}

.custom-popup {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .custom-popup a {
    margin: 0 0 5px;
    font-size: 16px;
    color: #513eff;
  }
  
  .custom-popup p {
    margin: 0;
    font-size: 14px;
  }
  