
<div id="main">
    <div id="text">
        <h1 style="font-size: 75px; text-align: start; color: blueviolet; font-weight: 650; margin: 0;">Page <br> Not Found</h1>

        <p style="text-align: justify; margin: 10px 0;">The page you're looking for doesn't exist. <br>
            It might have been removed, renamed, or didn't exist. 
            Please check the URL for any typos or errors. If you arrived here from a link within our site, please let us know so we can fix it.
        </p>

        <button mat-raised-button color="primary" style="margin: 15px 0; width: 30%;" routerLink="/events">Go back</button>
    </div>
    <div id="image" >
        <img src="assets/error-pages/error_404.png" alt="" width="680px">
    </div>
</div>
