<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Event-manager</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/events">Events</a>
    <a mat-button>Tickets</a>
    <a mat-button>Near me</a>

    @if (token == null){   
        <a mat-raised-button routerLink="/login">Sign up
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>      
        </a>
    }

    @if (token != null){
        <a mat-button onclick="localStorage.clear()"> Sign out</a>
    }

</mat-toolbar>
  