.spacer{
    flex: 1 1 auto;
}

#username{
    color: rgb(243, 147, 147);
}

/* mat-toolbar{
     margin-bottom: 25px; 
} */

mat-icon{
    font-size: 55px;
}

#logout-btn{
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
}