<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
  <mat-slide-toggle style="margin-top: 10px;" checked color="primary" name="enableWifi">Enable Wifi</mat-slide-toggle>
  <mat-slide-toggle checked color="primary" name="acceptTerms">Enable sound</mat-slide-toggle>
  <mat-slide-toggle checked color="primary" name="acceptTerms">Accept Terms of Service</mat-slide-toggle>
  <mat-slide-toggle checked color="primary" name="enableWifi">Receive notifications</mat-slide-toggle>
  <mat-slide-toggle checked color="primary" name="enableWifi">Receive emails</mat-slide-toggle>
  <mat-slide-toggle color="primary" name="enableWifi">Data Backup</mat-slide-toggle>
  <mat-slide-toggle checked color="primary" name="enableWifi">Location Services</mat-slide-toggle>
  <mat-slide-toggle color="primary" name="enableWifi">Use my data for marketing puproses</mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="primary" >Save changes</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
