<div id="login-container">
  <h1>Login</h1>
  <form name="loginForm" class="example-form" (ngSubmit)="onSubmit( username.value, password.value)">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput #username placeholder="example@gmail.com" name="email">
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput #password type="password" name="password">
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary">
          LOGIN
      </button>
      Dont have an account?<a href="http://localhost:4200/register"> Register now!</a>
  
    </form>
</div>
