<div class="main-container">
    <h2>Our point of difference</h2>
    <div class="qualities">
        <div class="quality">
            <img src="assets/quality-icons/laptop-code.svg" alt="">
            <h3>Technologies</h3>
            <p>
                We are using the latest technologies to get you the best experience possible
            </p>
        </div>
        <div class="quality">
            <img src="assets/quality-icons/earth.svg" alt="">
            <h3>Worldwide</h3>
            <p>
                In our events we have reached millions of people from all around the world
            </p>
        </div>
        <div class="quality">
            <img src="assets/quality-icons/monitor.svg" alt="">
            <h3>Statistics</h3>
            <p>
               Real time insight into everything about your event
            </p>
        </div>
        <div class="quality">
            <img src="assets/quality-icons/customer-care.svg" alt="">
            <h3>Quality service</h3>
            <p>
                We are using the latest technologies to get you the best experience possible
            </p>
        </div>

    </div>
</div>