<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle id="category"  style="color: black; font-weight: 400;">{{event?.category}}</mat-card-subtitle>
      <mat-card-title>{{event?.name}}</mat-card-title>

    </mat-card-header>

    @if(showDetails){
      <mat-card-content>

        <div class="image-container">
          <img id="thumbnail-img" [src]="thumbnailUrl" alt="Thumbnail Image">
          @if(event?.availableTickets == 0){
            <div class="sold-out-text">Sold Out!</div>
          }
          @else if (event?.availableTickets!! < 6) {
            <div class="few-remaining-text">{{event?.availableTickets}} Tickets Left!</div>
          }
        </div>

        @if(event?.dateStart == event?.dateFinish){
          <div class="event-details-icon"> 
            <img src="assets/icons/calendar.png" alt="" width="20px" height="20px"> 
            <span>{{event?.dateStart | customDate}}</span>
          </div>
        }
        @else{
          <div class="event-details-icon"> 
            <img src="assets/icons/calendar.png" alt="" width="18px" height="18px">  
            <span>{{event?.dateStart | customDate}} - {{event?.dateFinish | customDate}}</span>
          </div>
        }
        <div class="event-details-icon"> 
          <img src="assets/icons/time.png" alt="" width="20px" height="20px"> 
          <span> {{event?.timeStart?.toString()?.substring(0,5) }} - {{event?.timeFinish?.toString()?.substring(0,5)}}</span>
        </div>
        <div class="event-details-icon" id="tip"> 
          <img src="assets/icons/location.png" alt="" width="20px" height="20px"> 
          <span>{{event?.type | uppercase }} event</span>  
        </div>

        <button mat-raised-button extended>
          <mat-icon>event_available</mat-icon>
          See Details
        </button> 
      </mat-card-content>
    }
    @else {
      <img mat-card-image [src]="thumbnailUrl" style="height: 230px; width: 90%; margin-left: 20px;">

    }
  
</mat-card>

