<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle id="category"  style="color: black; font-weight: 400;">{{event?.category}}</mat-card-subtitle>
      <mat-card-title>{{event?.name}}</mat-card-title>

    </mat-card-header>

    @if(showDetails){
      <mat-card-content>
        <img mat-card-image [src]="thumbnailUrl">
        <div class="event-details-icon"><mat-icon color="primary">local_activity </mat-icon><span>{{event?.availableTickets}} tickets left</span> </div>
        @if(event?.dateStart == event?.dateFinish){
          <div class="event-details-icon"> <mat-icon color="primary">calendar_month</mat-icon> <span>{{event?.dateStart | customDate}}</span></div>
        }
        @else{
          <div class="event-details-icon"> <mat-icon color="primary">calendar_month</mat-icon> <span>{{event?.dateStart | customDate}} - {{event?.dateFinish | customDate}}</span></div>

        }
        <div class="event-details-icon"> <mat-icon color="primary">schedule</mat-icon> <span> {{event?.timeStart?.toString()?.substring(0,5) }} - {{event?.timeFinish?.toString()?.substring(0,5)}}</span></div>
        <div class="event-details-icon" id="tip"> <mat-icon color="primary">room</mat-icon> <span>{{event?.type | uppercase }} event</span>  </div>

        <button mat-raised-button extended color="primary">
          <mat-icon>event_available</mat-icon>
          See Details
        </button> 
      </mat-card-content>
    }
    @else {
      <img mat-card-image [src]="thumbnailUrl" style="height: 230px; width: 90%; margin-left: 20px;">

    }
  
</mat-card>

