#image-container{
    width: 50%;
    /* height: 400px; */
    /* border: 1px solid rgb(133, 133, 133); */
    margin-right: 30px;
    /* border-radius: 15px; */
    overflow: hidden;
}

#event-data{
    width: 50%;
    word-wrap: break-word;
}

img{
    width: 100%;
    height: 500px;
    /* height: ; */
    border-radius: 15px;
    /* border: 1px solid rgb(133, 133, 133); */
}

#grid{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

#row1{
    display: flex;
    flex-direction: row;   
}
 
#row2{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}



#when{
    width: 50%;
}

#where{
    width: 50%;
    margin-right: 40px;
    margin-top: 20px;
}

#tags{
    display: flex;
    flex-direction: row;
}

#tags > p {
    background-color: rgb(248, 248, 197);
    margin: 0 3px;
    padding: 2px 8px;
    border-radius: 10px;
    text-align: center;
}

ul > li{
    margin-top: 15px;
    text-align: justify;
}

#related-events{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

app-image-galery{
    border: 15px;
    height: 500px;
}