


  <div id="grid" style="display: flex; justify-content: center;">
    <div id="row1">
        
        <div id="image-container">
            <img src="https://linkup.mk/storage/events/thumbnails/01HVMAWQ3YEYMPKGQ0B1AP63HK.jpg" alt="">
            @if(event?.availableTickets == 0){
                <button style="width: 100%; margin-top: 10px;" mat-flat-button color="primary" (click)="buyTicketDialog()" disabled>Buy Ticket</button>
            }
            @else if (event?.price == 0){
                <button style="width: 100%; margin-top: 10px;" mat-flat-button color="primary" (click)="buyTicketDialog()">Get Ticket (FREE)</button>
            }
            @else {
                <button style="width: 100%; margin-top: 10px;" mat-flat-button color="primary" (click)="buyTicketDialog()">Buy Ticket (${{event?.price}})</button>
            }
        </div>

        <div id="event-data">
            <p style="background-color: rgb(247, 185, 185); text-align: center; border-radius: 10px; margin-top: 15px; margin-bottom: 0; display: inline-block; padding: 2px 8px;">{{event?.category}}</p>
            <h1>{{event?.name}}</h1>
            <p style="font-size: 20px;">{{event?.description}}</p>

            <div id="tags">
                @for (tag of event?.tags; track tag.id) {
                    <p>#{{tag.name}}</p>
                }
            </div>
            
        </div>

    </div>

    <div id="row2">

        <div id="where">
            @if (event?.latitude != null && event?.longitude != null &&
            event?.latitude != "" && event?.longitude != ""){
                <app-event-details-map [longitude]="event?.longitude" [latitude]="event?.latitude" ></app-event-details-map>
            }
            @else if(event?.meetingUrl != null){
                
                <h6 style="margin-top: 25px;">ONLINE event! Here's what to expect:</h6>
                <ul>
                    <li>Accessible Online Platform: The event will be hosted virtually, providing you with the convenience of attending from anywhere.</li>
                    <li>Personalized Credentials: Upon ticket purchase, you'll receive your unique username and password for exclusive access.</li>
                    <li>Secure Your Spot: Don't miss out! Get your tickets now and prepare for an immersive online experience.</li>
                </ul>
            }
            
        </div>


        <div id="when">
            <h3 style="margin-bottom: 20px;">When?</h3>
            <p style="display: flex; gap: 5px; margin-left: 20px;">
                <mat-icon aria-label="Example home icon" fontIcon="calendar_month"></mat-icon>
                <span>{{event?.dateStart}} - {{event?.dateFinish}} </span>
            </p>

            <p style="display: flex; gap: 5px; margin-left: 20px;">
                <mat-icon aria-label="Example home icon" fontIcon="schedule"></mat-icon>
                <span>{{event?.timeStart}} : {{event?.timeFinish}}</span>
            </p>

            <h3 style="margin-bottom: 20px; margin-top: 55px;">Where?</h3>
            
            
            <p style="display: flex; gap: 5px; margin-left: 20px;">
                <mat-icon aria-label="Example home icon" fontIcon="apartment"></mat-icon>
                @if(event?.latitude != null && event?.longitude != null &&
                event?.latitude != "" && event?.longitude != ""){
                    <span>Skopje, Macedonia</span>
                }@else{
                    <span>  <a href="">Google meet</a> or <a href="">Zoom</a></span>
                }
                
            </p>

            <p style="display: flex; gap: 5px; margin-left: 20px;">
                <mat-icon aria-label="Example home icon" fontIcon="location_on"></mat-icon>
                
                @if(event?.latitude != null && event?.longitude != null &&
                event?.latitude != "" && event?.longitude != ""){
                    <span>{{event?.longitude}}, {{event?.latitude}}</span>
                }@else{
                    <span>ONLINE, You can be where you want!</span>
                }
                
            </p>
        </div>
        
    </div> <hr>

    <div id="row3">
        <h3>Additional info</h3>
        <p>There isn't any additional info...</p>
    </div> <hr>

    <div id="row4">
        <h3 style="margin-bottom: 20px;">Organized by</h3>
        <p style="display: flex; gap: 5px; margin-left: 20px;">
            <mat-icon aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
            <span>{{event?.creator?.firstName}}</span>
        </p>

        <p style="display: flex; gap: 5px; margin-left: 20px;">
            <mat-icon aria-label="Example home icon" fontIcon="mail"></mat-icon>
            <span>{{event?.creator?.username}}</span>
        </p>
    </div> <hr>

    <div id="row5">
        <h3>Refund policy</h3>
        <p style="margin-bottom: 0; font-weight: 500;"> Cancellation by Attendee</p>
        <p>
            If you need to cancel your ticket purchase, please do so within [number of days] days of the event date to be eligible for a refund.
            To cancel your ticket and request a refund, please contact us at [email address] or [phone number] with your order details.
            Refunds are subject to approval and are typically processed within [number of days] days after receiving your cancellation request.
            To be eligible for a refund, your ticket must be unused and in the same condition as when you received it.
        </p>

        <p style="margin-bottom: 0; font-weight: 500;"> Non refundable situations</p>
        <p>
             Please note that certain tickets or events may be non-refundable. Check the event details or terms and conditions for specific refund policies.
            In the rare event that an event is canceled or rescheduled, you will be contacted regarding refund options. We strive to ensure fair resolutions for all attendees in such circumstances. 
        </p>
        <p style="margin-bottom: 0; font-weight: 500;"> Contact us</p>
        <p> If you have any questions or need assistance with your ticket refund, please contact us at [email address] or [phone number].</p>
    </div> <hr>

    <div id="row6">
        <h3>Related events</h3>
    </div><hr>

  </div>
