#image-container {
    width: 400px;
    height: 500px;
    margin-right: 30px;
    overflow: hidden;
}

#event-data {
    width: 50%;
    word-wrap: break-word;
}

app-image-galery {
    max-width: 100%;
    max-height: 300px;
    /* height: ; */
    border-radius: 15px;
    /* border: 1px solid rgb(133, 133, 133); */
}

#grid {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

#row1 {
    width: 100%;
    display: flex;
    flex-direction: row;

}

#row2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 20px;

}

#when {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 110%;
}

#where {
    width: 100%;
    margin-right: 40px;
}

#similar {
    width: 500px;
}

#similar>p {
    background-color: rgb(216, 234, 239);
    border-radius: 10px;
    width: 100px;
    margin-bottom: -15px;
    text-align: center;
}

#tags {
    display: flex;
    flex-direction: row;
}

#tags>p {
    background-color: rgb(248, 248, 197);
    margin: 0 3px;
    padding: 2px 8px;
    border-radius: 10px;
    text-align: center;
}

ul>li {
    margin-top: 15px;
    text-align: justify;
}

#related-events {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

app-image-galery {
    border: 15px;
    height: 500px;
}