
.full-width {
  width: 100%;
  margin: auto;
  margin-bottom: 18px;
}

#desc{
  height: 100px;
}

form{
margin: auto;

}

.coordinates{
margin: auto;
width: 48%;
margin: 0 5px;
}

app-upload-images{
margin-bottom: 25px;
}

p{
  margin-top: 30px;
}

#update-event{
  margin-bottom: 30px;
  overflow: hidden;
}