

<p>Update Event</p>
<form name="loginForm" class="example-form"  (ngSubmit)="updateEvent(eventName.value, description.value, longitude.value, latitude.value, category.value, datestart.value, datefinish.value)">
    
    <mat-form-field class="example-full-width">
        <mat-label>Event name</mat-label>
        <input matInput [defaultValue]="event?.name" #eventName name="eventname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea id="desc" [defaultValue]="event?.description" matInput #description name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Longitude</mat-label>
      <input matInput #longitude [defaultValue]="event?.longitude" name="longitude">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Latitude</mat-label>
        <input matInput #latitude [defaultValue]="event?.latitude" name="latitude">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>category</mat-label>
        <input matInput #category [defaultValue]="event?.category" name="latitude">
    </mat-form-field> 

    <p style="color: red;">Da se napravi default tags</p>
    <app-add-tags (tagsEvent)="addTag($event)"></app-add-tags>

    <mat-form-field class="example-full-width">
        <mat-label>Date start:</mat-label>
        <input matInput #datestart [defaultValue]="event?.dateStart" name="dateStart" type="datetime-local">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Date finish:</mat-label>
        <input matInput #datefinish [defaultValue]="event?.dateFinish" name="dateFinish" type="datetime-local">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
        UPDATE
    </button>

</form>