#my-events{
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

app-event{
    width: 24%;
    margin-bottom: 1%;
    margin-right: 1%;
    cursor: pointer;
}
.main-container{
    background-color: rgb(247, 247, 247, 0.9);
    padding-bottom: 20px;
}