<mat-tab-group>
    <mat-tab backgroundColor="primary" >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        Details
      </ng-template>
      <app-event-details></app-event-details>
    </mat-tab>
  
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">bar_charts</mat-icon>
        Stats
      </ng-template>
      <div style="width: 80%; margin-left: 10%; display: flex;">
        <app-event-stats></app-event-stats>
      </div>
    </mat-tab>
  
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">sell</mat-icon>
          Tickets
        </ng-template>
        <div style="width: 80%; margin-left: 10%; display: flex;">
          <app-add-tickets ></app-add-tickets>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">money</mat-icon>
          Coupons
        </ng-template>
        <div style="width: 80%; margin-left: 10%; display: flex;">
          <app-add-coupons></app-add-coupons>
        </div>
        
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">settings</mat-icon>
        Update
      </ng-template>
      <div style="width: 80%; margin-left: 10%; display: flex;">
        <app-update-event></app-update-event>
      </div>
    </mat-tab>



  </mat-tab-group>
