.example-full-width{
    width: 100%;
}

.edit-width{
    /* margin-right: 15px; */
    width: 100%;
}


.full-width{
    width: 100%;
}

.green-snackbar {
    background-color: green;
    color: white;
  }